// Colors
$white: #FFF;
$black: #000;

$green: #138F5B;
$blue: #0D41A7;
$purple: #9C10B4;

$darkGreen: #0D5E3C;
$darkBlue: #173673;
$darkPurple: #630773;

$textGreen: #0ED984;
$textBlue: #3577F6;
$textPurple: #D72DF3;

$textGray: #615D5D;

$footerBg: #F3F3F3;